<ng-container [ngSwitch]="selector">
  <ng-container *ngSwitchCase="'input'">
    <app-selectors-input (onChange)="onDataChange($event)" [name]="name" [containerParam]="container" [label]="label" [instances]="instances" [sensitive]="sensitive"></app-selectors-input>
  </ng-container>
  <ng-container *ngSwitchCase="'checkbox'">
    <app-selectors-checkbox (onChange)="onDataChange($event)" [name]="name" [containerParam]="container" [label]="label" [instances]="instances"></app-selectors-checkbox>
  </ng-container>
  <ng-container *ngSwitchCase="'select'">
    <app-selectors-select (onChange)="onDataChange($event)" [name]="name" [containerParam]="container" [label]="label" [instances]="instances" [sourceParam]="source"></app-selectors-select>
  </ng-container>
  <ng-container *ngSwitchCase="'date'">
    <app-selectors-date (onChange)="onDataChange($event)" [name]="name" [containerParam]="container" [label]="label" [instances]="instances"></app-selectors-date>
  </ng-container>
  <ng-container *ngSwitchCase="'date-range'">
    <app-selectors-daterange (onChange)="onDataChange($event)" [name]="name" [containerParam]="container" [label]="label" [instances]="instances"></app-selectors-daterange>
  </ng-container>
  <ng-container *ngSwitchCase="'multiselect'">
    <app-selectors-multiselect (onChange)="onDataChange($event)" [name]="name" [containerParam]="container" [label]="label" [instances]="instances" [sourceParam]="source" [all]="all" [conditions]="conditions"></app-selectors-multiselect>
  </ng-container>
  <ng-container *ngSwitchCase="'autocomplete'">
    <app-selectors-autocomplete (onChange)="onDataChange($event)" [name]="name" [containerParam]="container" [label]="label" [instances]="instances" [sourceParam]="source"></app-selectors-autocomplete>
  </ng-container>
</ng-container>
