<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel id="panel-loader" title="Loader">
              <ng-template ngbPanelContent>

                <app-selectors #loader class="row pl-3 pr-3">
                  <app-selectors-case class="d-inline-block mr-3" label="Symbol" name="symbols" instances="1" [conditions]="[null, 'or']" selector="multiselect" [container]="loader" [source]="sources.symbols"></app-selectors-case>
                  <app-selectors-case class="d-inline-block mr-3" label="Start" name="start" instances="1" selector="date" [container]="loader"></app-selectors-case>
                  <app-selectors-case class="d-inline-block mr-3" label="End" name="end" instances="1" selector="date" [container]="loader"></app-selectors-case>
                  <button class="btn" (click)="download($event)">Download <i *ngIf="loaders.download" class="fa fa-cog fa-spin ml-2"></i></button>
                </app-selectors>

                <div class="alert alert-warning mt-3" *ngFor="let error of errors.download">
                  {{ error }}
                </div>

              </ng-template>
            </ngb-panel>
            <ngb-panel id="panel-scanner" title="Scanner">
              <ng-template ngbPanelContent>

                <ngb-tabset>
                  <ngb-tab>
                    <ng-template ngbTabTitle>Options</ng-template>
                    <ng-template ngbTabContent>

                      <app-selectors #optionsScanner class="row p-3">
                        <app-selectors-case class="d-inline-block mr-3" label="Start" name="start" instances="1" selector="date" [container]="optionsScanner"></app-selectors-case>
                        <app-selectors-case class="d-inline-block mr-3" label="End" name="end" instances="1" selector="date" [container]="optionsScanner"></app-selectors-case>
                        <button class="btn" (click)="scan($event)">Scan <i *ngIf="loaders.optionsScanner" class="fa fa-cog fa-spin ml-2"></i></button>
                      </app-selectors>

                      <div class="alert alert-warning" *ngFor="let error of errors.optionsScanner">
                        {{ error }}
                      </div>

                      <div class="table-responsive ml-1 mr-1">
                        <ng2-smart-table [settings]="settings" [source]="sources.optionsScanner"></ng2-smart-table>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>Bull Put Spreads</ng-template>
                    <ng-template ngbTabContent>
                      <div class="table-responsive">
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>

              </ng-template>
            </ngb-panel>
          </ngb-accordion>

        </div>
      </div>
    </div>
  </div>
</div>
